.search-result-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  top: -180px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 90%;
  background-color: white;
  border-radius: 13px;
  z-index: 1000;
  word-wrap: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.each-information-container {
  color: black;
}

.information {
  padding: 0;
  margin: 0;
}
.divider {
  display: none;
  border-left: 1px solid lightgray;
  height: 50px;
}
.title {
  color: var(--ip-information-text-information-color);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.result {
  font-weight: 900;
  font-size: 20px;
  word-wrap: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
}

@media only screen and (min-width: 550px) {
  .search-result-container {
    top: -75px;
    height: 150px;

    flex-direction: row;
    text-align: start;
  }

  .divider {
    display: block;
  }
}
