#root {
  margin: 0 auto;
  text-align: center;
}

.ip-address-container {
  background-image: url("images/pattern-bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ip-maps-main-container {
  position: relative;
  height: 60vh;
}
#map {
}
