#root {
  margin: 0 auto;
  text-align: center;
}

.ip-address-container {
  background-image: url("/src/assets/images/pattern-bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ip-maps-main-container {
  position: relative;
  height: 60vh;
}

@media only screen and (min-width: 992px) {
  .ip-address-container {
    background-image: url("/src/assets/images/pattern-bg-desktop.png");
  }
  .footer-notes {
    background-image: url("/src/assets/images/pattern-bg-desktop.png");
  }
}

.footer-notes {
  display: flex;
  justify-content: center;
  font-weight: 900;
  background-color: #5670d7;
  background-image: url("/src/assets/images/pattern-bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hyperlink {
  color: white;
}
