.search-container {
  background-color: white;
  display: flex;
  width: 340px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
}

.search-input {
  border-radius: 0%;
  width: 80%;
  border: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding-left: 20px;
}

.search-button {
  border: none;
  width: 20%;
  background-color: black;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  cursor: pointer;
  transition: 3s;
}

.search-button:hover {
  border: 2px solid white;
}
